body{
  font-family: 'Raleway';
  text-align: center;
}
#home{
  padding: 0 10px;
  color: #fff;
  height: calc(100vh + 53px);
  background: rgb(37, 41, 52);
  position: relative;
}
.flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-wrap {
    height: 100vh;
    width: 100vw;
    position: fixed;
    pointer-events: none;
    z-index: 100;
}
.text{
  margin: 0 0 20px 0;
  z-index: 1;
  pointer-events: none;
  color: #fff;
  font-size: 32pt;
  line-height: 36pt;
}
.highlight{
  color: #E31B6D;
  pointer-events: none;
  font-weight: bold;
}
.button{
  position: relative;
  margin-bottom: 53px;
  padding: 10px 20px;
  border: 2px solid #fff;
  box-sizing: inherit;
  display: inline-block;
  font-size: 13pt;
  transition: all .5s;
  cursor: pointer;
}
nav .link-wrap {
    max-width: 1200px;
    width: 100%;
    position: absolute;
    top: 53px;
    background: #333;
    overflow: hidden;
    height: 0;
    transition: height .3s ease-out;
}
nav .link-wrap div {
    padding: 12px 20px;
    font-size: 12pt;
    cursor: pointer;
    transition: color .5s;
    text-transform: uppercase;
}
nav .link-wrap div:hover {
    color: #E31B6D;
}
nav .active {
    color: #E31B6D;
}
.header {
    font-size: 25pt;
    position: relative;
    color: #444649;
    position: relative;
    font-weight: bold;
}
.header-bar {
    margin: 25px 0 75px 0;
    width: 70px;
    height: 4px;
    background: #444649;
}
.skills-wrapper {
    align-items: flex-start;
    width: 100%;
}
section .flex-50-gt-sm {
    display: block;
}
section:nth-of-type(2) .skills-wrapper .me {
    height: 200px;
}
@media screen and (min-width: 960px){
  .button {
    font-size: 16pt;
  }
  .animated.slide-in-left {
    animation: slideInLeft .75s ease both;
}
  .waypoint {
    opacity: 0;
}
  .skills-wrapper {
    margin: 50px 0 0 0;
}
  .flex.row-gt-sm {
    flex-direction: row;
}
  .flex-50-gt-sm {
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    max-width: 50%;
    max-height: 100%;
    box-sizing: border-box;
}
  section:nth-of-type(2) .skills-wrapper .me {
    margin: 0;
}
}
@media screen and (min-width: 600px){
  section:nth-of-type(2) .skills-wrapper .me {
    height: 250px;
}
  .button {
    padding: 12px 50px 12px 20px;
  }
  nav .link-wrap {
    position: initial;
    background: none;
    overflow: visible;
    height: initial;
    text-align: left;
  }
  nav .link-wrap div:first-child {
    padding: 0;
}
  nav .link-wrap div {
    margin: 0 20px;
    padding: initial;
    font-size: initial;
    display: inline;
}
  section {
    line-height: 18pt;
    padding: 100px 0 130px 0;
}
  .header {
    font-size: 30pt;
}
  .header-bar {
    margin: 25px 0 100px 0;
}
  section:nth-of-type(2) .skills-wrapper > .flex:first-child {
    padding: 0 50px 0 50px;
}
}

.button .fa {
    transition: transform .3s;
    position: absolute;
    right: 15px;
    top: 16px;
}
.button .fa {
    vertical-align: middle;
}
.fa-arrow-right {
    display: inline-block;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.button:hover{
  background-color: #04C2C9;
  border-color: #04C2C9;
}
.button:hover .fa{
  transform: rotate(90deg);
}
nav {
    bottom: 0;
    left: 0;
    position: absolute;
    height: 50px;
    width: 100%;
    background: #1B242F;
    border-bottom: 3px solid #04C2C9;
    text-align: left;
    z-index: 99;
}
@keyframes slideInLeft{
  0%{
    opacity: 0;
    transform: translateX(-300px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}